.container{
    /*display: inline-block;*/
    position: relative;
    /*width: 100%*/
}

.editor::before,
.editor::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.editor::before {
    border-width: 1.5em;
    border-right-color: #2e3641;
    border-top-color: #2e3641;
}

.editor::after {
    border-width: 1.5em;
    border-right-color: #2e3641;
    border-top-color: #2e3641;
}

.editIcon {
    position: absolute;
    z-index: 1;
    top:3px;
    right:3px;
    height:20px !important;
    width:20px !important;
    cursor: pointer;
}